<header class='medium relative bg secondary'>
  <span class='bh-image luminosity'></span>
  <div class='content text align center color white cf v-center'>
    <h1 class='main-header'>Help make a difference in someone's life today </h1>
  </div>
</header>
<div class='outer-container'>
  <div class='wide-container'>
    <h1 class='cta'>Providing hope</h1>
    <div class='main-message skinny'>
      <p>
        1 in 5 Americans suffer from some form of mental illness but only 1 in 50 ever
        seek help. We need your help to start shedding light on the subject of mental
        health because no one should have to feel alone in their mental health journey.
      </p>
      <p>
        The only way our mission will become bigger than just a vision is through the
        support of people like you who are willing to invest in the education, support,
        and treatment involved in stopping the stigma of mental health and helping
        people find hope.
      </p>
      <p>
        All donations made to Bigger Than The Trail will be used in the following ways:
        offering treatment options to individuals who want to manage their mental health,
        providing training opportunities for advocates, and spreading awareness by
        getting feet on the ground and being a voice for mental health.
      </p>
      <p>
        Bigger Than The Trail is a 501(c)(3) organization, which means all donations
        are tax deductible. But more importantly, no matter how big or small, all
        donations help to make a difference in someone’s life. If you can’t donate at
        this time, you can still help support our mission by being a light, a voice, or
        a listening ear to those who are struggling with mental health.
      </p>
    </div>
    <div class='support-form'>
      <%= form_tag charges_path do %>
        <div id="error_explanation">
          <% if flash[:error].present? %>
            <p><%= flash[:error] %></p>
          <% end %>
        </div>
        <article>
          <p> Please consider donating today.</p>
          <%= label_tag(:amount, 'Donation Amount:') %>
          <%= text_field_tag(:amount, '$') %>
        </article>
        <article>
          <%= hidden_field_tag(:stripeToken) %>
        </article>
        <button class='button' id='donateButton'>Donate</button>
      <% end %>
    </div>
  </div>
</div>




<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  $(document).ready(function() {
    $("input#amount").keydown(function(e) {
      var oldvalue=$(this).val();
      var field=this;
      setTimeout(function () {
          if(field.value.indexOf('$') !== 0) {
              $(field).val(oldvalue);
          }
      }, 1);
    });

    $('#donateButton').on('click', function(e) {
      e.preventDefault();

      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        locale: 'auto',
        name: 'Bigger Than The Trail',
        description: 'One-time donation',
        token: function(token) {
          $('input#stripeToken').val(token.id);
          $('form').submit();
        }
      });

      $('#error_explanation').html('');

      var amount = $('input#amount').val();
      amount = amount.replace(/\$/g, '').replace(/\,/g, '')

      amount = parseFloat(amount);

      if (isNaN(amount)) {
        $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
      }
      else if (amount < 5.00) {
        $('#error_explanation').html('<p>Donation amount must be at least $5.</p>');
      }
      else {
        amount = amount * 100; // Needs to be an integer!
        handler.open({
          amount: Math.round(amount)
        })
      }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
  });


</script>

