<!DOCTYPE html>
<html>
  <head>
    <meta[name="viewport" content="width=device-width initial-scale=1 maximum-scale=1"] >
    <meta[name="apple-mobile-web-app-capable" content="yes"] >
    <meta[name="mobile-web-app-capable" content="yes"] >
    <title>Bigger than the Trail</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render '/nav' %>
      <%= yield %>
    <%= render '/footer' %>

  </body>
</html>

